<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.GET_TASKS" />



    <application
        android:name="com.yeqiu.awesomeandroid.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AwesomeAndroid"
        tools:targetApi="31">
        <activity
            android:name="com.yeqiu.awesomeandroid.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yeqiu.awesomeandroid.AndroidQFileActivity" />
        <activity android:name="com.yeqiu.awesomeandroid.GetActivity" />
        <activity android:name="com.yeqiu.awesomeandroid.ScreenRecordingActivity" />
        <activity android:name="com.yeqiu.awesomeandroid.BoardActivity" />
    </application>

</manifest>